<!DOCTYPE html>
<html>
  <head>
    <title>Error: <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Error: <%= title %></h1>
    <p><%= description %></p>
  </body>
</html>